.graphBlockInput {
    // width: 400px;
    // height: 100vh;
    background-color: #212120;
    // display: block;
    border-right: 1px solid #333333;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 0 1 400px;
}

.inputBlock {
    width: 100%;
    height: 75px;
    display: flex;
    direction: row;
}

.inputHandler {
    background-color: #b39e9e;
    color: white;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: all-scroll;
    button {
        width: 25px;
        height: 25px;
        margin: 0 auto;
        border-radius: 50px;
        border: none;
        cursor: pointer;
    }
}

.addButton,
.deleteButton {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.activeGraph {
    background-color: rgb(112, 181, 212);
}

.disabletGraph {
    opacity: 0.8;
}

.graphInput {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ffffffa1;
    border-bottom: #956C2D 3px solid;
    padding: 5px 10px;
    text-align: start;
}

.inputWrapper {
    position: relative;
    background-color: transparent;
    margin-bottom: 10px;
}

.deleteButton {
    position: absolute;
    top: -3px;
    right: 0px;
}

.addButton:hover,
.deleteButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
}

.deleteButton:hover {
    background-color: #da190b;
}