.graphBlock {
    height: 100vh;
    display: flex;
    order: 0;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    order: 0;
    height: calc(100vh - 50px);
}

.canvasBlock {
    // position: relative;
    flex: 1;
    &>canvas {
        width: 100%;
        height: 100%;
        background: #222;
        overflow: hidden;
    }
}

.graph-container {
    flex: 1;
    &>canvas {
        width: 100%;
        height: 100%;
    }
}