.graphBlock {
    width: 100%;
    height: 100%;
}

.canvasBlock {
    position: relative;
    width: 100%;
    height: 100%;
}

.graphBlock {
    display: flex;
    justify-content: space-between;
}

.CanvasEl {
    display: block;
    position: absolute;
    border: none;
    inset: 0px;
    background: #222;
    overflow: hidden;
    top: 0;
    left: 0;
}